<form action="/square/results">

<div>
  <label for="new_square_calc">Enter a number</label>
</div>

<div>
  <input id="new_square_calc" name="number" type="text" placeholder="What number do you want to calculate">
</div>

<div>
  <button>
    Calculate square
  </button>
</div>
</form>
