<form action="/square/results">
  <label for="new_square_calc">Enter a number</label>
  <input id="new_square_calc" name="users_number" type="text" placeholder="What number do you want to calculate">

  <button>
    Calculate square
  </button>
</form>
