<form action="/square_root/results">

<div>
  <label for="new_square_root_calc">Enter a number</label>
  <input id="new_square_root_calc" name="user_number" type="text" placeholder="What number do you want to calculate">
</div>

<div>
  <button>
    Calculate square root
  </button>
</div>
</form>
